<h1 class="text-center text-bold">All Blog Posts</h2>
    {{#if somethingWentWrong}}
    <p>external error</p>
    {{else}}
    {{#if blogPosts}}
    <div class="container">
        <div clas="columns">
            <div class="column col-12">
                <ul class="pagination">
                    <li class="page-item page-prev">
                        <a href="/blog/1">
                            <div class="page-item-subtitle bg-dark text-gray  p-1 rounded">Previous</div>
                        </a>
                    </li>
                    <li class="page-item page-next">
                        <a href="#">
                            <div class="page-item-subtitle bg-dark text-gray p-1 rounded">Next</div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="columns">
            {{#each blogPosts}}
            <div class="column col-12 col-xs-12 ">
                <div class="card bg-dark">
                    <div class="card-header p-centered hide-md p-1">
                        <div class="card-title h5 text-break">{{title}}</div>
                    </div>
                    <div class="card-header p-centered show-md p-1">
                        <div class="card-title h6 text-break">{{title}}</div>
                    </div>
                    <div class="card-footer">
                        <form action="/blog/post/{{id}}" class="d-inline-block">
                            <button class="btn btn-primary d-inline-block">visit</button>
                        </form>
                        <form class="d-inline-block" action="/blog/post/{{id}}/edit" class="d-inline-block"
                            method="GET">
                            <button class="btn btn-error">Edit</button>
                        </form>
                        <form action="/blog/delete-blog-post/{{id}}" class="d-inline-block" method="POST">
                            <button class="btn btn-error">delete</button>
                        </form>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    {{else}}
    <p>Sorry There are no blogposts</p>
    {{/if}}
    {{/if}}
    <a href="/blog/create-blog-post">
        <button class="btn btn-primary" value="create post">create post</button>
    </a>