<h1 class="text-center text-bold">Guestbook</h1>
{{#if somethingWentWrong}}
    <p class="text-break">internal error</p>
{{else}}
    <div class="container">
    {{#if validationErrors.length}}
        <p>Errors:</p>
        <ul>
            {{#each validationErrors}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    {{/if}}
        <form class="form-horizontal col-12" action="/guestbook/" method="POST">
            <div class="form-group">
                <div class="col-5 col-sm-12">
                    <input class="form-input" type="text" name="name" value="{{name}}" placeholder="enter name">
                </div>
                <div class="col-5 col-sm-12">
                    <input class="form-input" name="message"  value="{{message}}"placeholder="write message" >
                </div>
                
                <div class="col-2 col-sm-2">
                    <button class="btn btn-primary" value="edit post">submit</button>
                </div>
            </div>
        </form>
        <div class="divider"></div>
        <div class="column col-12">
            <table class="table table-striped table-hover  ">
                <thead class="bg-dark">
                    <tr>
                    <th>name</th>
                    <th>message</th>
                    <th>Date</th>
                    <th></th>
                    <th>Admin answer</th>
                    <th></th>
                    </tr>
                </thead>
                <tbody class="bg-gray">
                    {{#if guestbook}}
                        {{#each guestbook}}
                            <tr class="active">
                                <td><span class="text-dark text-break">{{name}}</span></td>
                                <td><span class="text-dark text-break">{{comment}}</span></td>
                                <td>2019-09-29</td>
                                <td>
                                    <form class="d-inline-block" action="/guestbook/deletecomment/{{id}}" method="POST">
                                        <button>Delete comment</button>
                                    </form>
                                    {{#unless reply}}
                                    <form class="d-inline-block"action="/guestbook/createReplyComment/{{id}}" method="GET">
                                        <button>reply comment</button>
                                    </form>
                                    {{/unless}}
                                </td>
                                <td>
                                    {{#if reply}}
                                        <span class="text-dark text-break"> {{reply}}</span>
                                    {{else}}
                                        <span class="text-dark text-break"> No answer yet</span>
                                    {{/if}}
                                </td>
                                <td>
                                    {{#if reply}}
                                    <form action="/guestbook/deleteReplyComment/{{replyId}}" class="d-inline-block" method="POST">
                                        <button>Delete Reply</button>
                                    </form>
                                    <form action="/guestbook/editReplyComment/{{id}}" class="d-inline-block" method="GET">
                                        <button>Edit Reply</button>
                                    </form>
                                    {{/if}}
                                </td>
                            </tr>
                        {{/each}}
                    {{else}}
                        <tr class="active">
                            <td><span class="text-dark text-break"> nothing yet</span></td>
                            <td><span class="text-dark text-break"> nothing yet</span></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    {{/if}}
                </tbody>
            </table>
        </div>
    </div>
{{/if}}    